3_Hydrocarbons/jw01328-c1006_t014_miri_ch1-shortmediumlong_s3d.fits
3_Hydrocarbons/jw01328-c1006_t014_miri_ch2-shortmediumlong_s3d.fits
3_Hydrocarbons/jw01328-c1006_t014_miri_ch3-shortmediumlong_s3d.fits
 
.ipynb_checkpoints/
